In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset/marketing_sample_for_naukri_com-jobs__20190701_20190830__30k_data.csv')


# Dataset Preparation

### Drop unused columns

In [2]:
df = df.drop(['Uniq Id', 
              'Crawl Timestamp', 
              'Job Salary', 
              'Job Experience Required', 
              'Location', 
              'Functional Area', 
              'Industry'], axis=1)


### Drop rows which are not the "Programming & Design" category
note that, "category" = "role" in dataset

In [3]:
df = df.drop(df[(df['Role Category'] != 'Programming & Design')].index)

### After that, drop "Role Category" column
df = df.drop('Role Category', axis=1)
df = df.dropna()


### Trim and split Job Title, Key Skills

In [4]:
df['Job Title'] = df['Job Title'].str.strip()
df['Key Skills'] = df['Key Skills'].str.strip()
df['Key Skills'] = df['Key Skills'].str.split("|")

In [5]:
### Display all categories
df['Role'].unique()

array(['Testing Engineer', 'System Analyst', 'Technical Architect',
       'Software Developer', 'Graphic/Web Designer', 'Project Lead',
       'Team Lead/Technical Lead', 'Release Manager', 'Product Manager',
       'Database Architect/Designer'], dtype=object)

In [6]:
### reset dataframe index after everything done
df = df.reset_index(drop=True)

df.head()

,Job Title,Key Skills,Role
0,Software Test Engineer -hyderabad,"[manual testing, test engineering, test case...",Testing Engineer
1,Opening For Adobe Analytics Specialist,"[adobe experience manager, digital, digital ...",System Analyst
2,Opportunity For Azure Devops Architect For Hyd...,"[TFS, Azure, Git, VSTS, Docker, DynaTrace...",Technical Architect
3,Oracle IDAM,"[Oracle IDAM, OIM, OAM]",Software Developer
4,Magento Developer,"[Copyright, Email, jQuery, XML, Javascript...",Software Developer


## Initial values

In [7]:
roles = ['Testing Engineer',
         'System Analyst',
         'Technical Architect',
         'Software Developer',
         'Graphic/Web Designer',
         'Project Lead',
         'Team Lead/Technical Lead',
#          'Release Manager',
         'Product Manager',
         'Database Architect/Designer']

categories = ['Data', 
              'Developer', 
              'Tester', 
              'Designer', 
              'Manager', 
              'Analyst']

Data = ['Data Engineer',
        'Data Scientist',
        'Data Architect',
        'Data Analyst',
        'Database Administrator',
        'Machine Learning']

Developer = ['Software Engineer',
             'Devops',
             'Backend',
             'Frontend',
             'Full stack',
             'iOS',
             'Android']

Tester = ['Software Tester',
          'Quality Assurance Engineer']

Designer = ['UX/UI Designer',
            'Graphic Designer']

Manager = ['Product Owner',
           'Project Manager']

Analyst = ['System Analyst',
           'Business Analyst']

forbidden_skills = ['development',
                    'design',
                    'web',
                    'css3',
                    'html5',
                    'operations',
                    'management',
                    'project leader',
                    'architect',
                    'architecture',
                    'testing',
                    'software',
                    'tools',
                    'quality',
                    'support',
                    'application',
                    'applications',
                    'developer',
                    'technical',
                    'automation',
                    'graphics',
                    'phd',
                    'email',
                    'apple',
                    'research',
                    'iphone',
                    'ipad']

## Extract Key Skills function
count skills by given set of "Key Skills" in job's dataframe

In [8]:
#
##
### input like this -> extractSkill(dataframe['Key Skills'])
##
#

def extractSkill(df):

    # ### trim each Key Skill in each Title
    vowel = []
    for x in df:
        for i in range(len(x)):
            vowel.append(x[i].strip().lower())

    ### Counting elements
    elements_count = {}
    # iterating over the elements for frequency
    for element in vowel:
        # checking whether it is in the dict or not
        if element in elements_count:
            # incerementing the count by 1
            elements_count[element] += 1
        else:
            # setting the count to 1
            elements_count[element] = 1
        
    elements_count = dict(sorted(elements_count.items(), key=lambda item: item[1], reverse=True))

#     # printing the elements frequencies
#     for key, value in elements_count.items():
#         print(f"{key}: {value}")
        
    return elements_count

## Replace and Remove Skills function
input: dataframe with "skill" and "sum" columns

In [9]:
def cleanSkillKeywords(df):
    df = df.drop(df[(df['sum'] == 1)].index)
    
    df.loc[(df['skill'] == "Programming"), "skill"] = "coding"
    
    df.loc[(df['skill'] == "test automation"), "skill"] = "automation testing"
    
    df.loc[(df['skill'] == "data scientist"), "skill"] = "data science"
    
    df.loc[(df['skill'] == "asp") | 
           (df['skill'] == ".net") | 
           (df['skill'] == "asp.net mvc"), "skill"] = "asp.net"
    
    df.loc[(df['skill'] == "natural language processing"), "skill"] = "nlp"
    
    df.loc[(df['skill'] == "advanced analytics") | 
           (df['skill'] == "analytical") | 
           (df['skill'] == "analyst"), "skill"] = "analytics"
    
    df.loc[(df['skill'] == "front end") | (df['skill'] == "frontend"), "skill"] = "frontend development"
    
    df.loc[(df['skill'] == "backend"), "skill"] = "backend development"

    
    df.loc[(df['skill'] == "web technologies") | 
           (df['skill'] == "web application development") | 
           (df['skill'] == "web application"), "skill"] = "web development"
    
    df.loc[(df['skill'] == "ios"), "skill"] = "ios development"
    
    df.loc[(df['skill'] == "android") | 
           (df['skill'] == "android application development") | 
           (df['skill'] == "android application"), "skill"] = "android development"
    
    df.loc[(df['skill'] == "mobile") | 
           (df['skill'] == "mobile application") | 
           (df['skill'] == "mobile development") | 
           (df['skill'] == "mobile applications"), "skill"] = "mobile application development"
    
    df.loc[(df['skill'] == "user interface designing") | 
           (df['skill'] == "ui") | 
           (df['skill'] == "ui designer") | 
           (df['skill'] == "user interface") |
           (df['skill'] == "user interface designer"), "skill"] = "ui designing"
    
    df.loc[(df['skill'] == "ux designer") | 
           (df['skill'] == "ux") | 
           (df['skill'] == "user experience"), "skill"] = "ux designing"
    
    df.loc[(df['skill'] == "graphic designer"), "skill"] = "graphic designing"
    
    df.loc[(df['skill'] == "product manager"), "skill"] = "product management"
        
    df.loc[(df['skill'] == "project manager") |            
           (df['skill'] == "it project management"), "skill"] = "project management"
    
    df.loc[(df['skill'] == "agile scrum"), "skill"] = "scrum"
        
    df.loc[(df['skill'] == "agile development"), "skill"] = "agile"
    
    df.loc[(df['skill'] == "system analyst"), "skill"] = "system analysis"
    
    df.loc[(df['skill'] == "business analyst"), "skill"] = "business analysis"
    
    df.loc[(df['skill'] == "it"), "skill"] = "information technology"
    
    df.loc[(df['skill'] == "monitoring"), "skill"] = "monitoring tools"
    
    df = df[~df['skill'].isin(forbidden_skills)]
    
    df = df.groupby('skill')['sum'].agg(['sum']).sort_values(by=['sum'], ascending=False).reset_index() 
    
    return df

## Match between Jobs function
method: set or sort<br>
percent: integer (0 -> 100)

In [10]:
from fuzzywuzzy import fuzz

def matchJobs(title, method, percent):
    
    def get_ratio_token_set(df):
        df_column = df['Job Title']
        return fuzz.token_set_ratio(title, df_column)
    
    def get_ratio_token_sort(df):
        df_column = df['Job Title']
        return fuzz.token_sort_ratio(title, df_column)

    if method == "set":
        match_data = df[df.apply(get_ratio_token_set, axis=1) >= percent]
    elif method == "sort":
        match_data = df[df.apply(get_ratio_token_sort, axis=1) >= percent]
        
    return match_data


# Job Skills

#### example of matching

In [69]:
df_match = matchJobs(title="Backend", method="set", percent=90)
list_match = extractSkill(df_match['Key Skills'])
df_recommend = pd.DataFrame(list_match.items(), columns = ['skill', 'sum'])
df_recommend = cleanSkillKeywords(df_recommend)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_recommend.head())

                 skill  sum
0                 java   25
1  backend development   22
2               python   22
3           javascript   21
4                mysql   20

### Init priority for each skill

In [70]:
def getJobsPriority(df):
    mean = df['sum'].mean()

    df.loc[(df['sum'] >= mean), "priority"] = "High"
    df.loc[(df['sum'] <= mean), "priority"] = "Normal"
    
    return df

## Jobs skillset

In [65]:
df_all_job_skill = pd.DataFrame(columns = ['skill'])

for category in categories:
    for job in eval(category):

        df_match = matchJobs(title=job, method="set", percent=90)
        
        list_match = extractSkill(df_match['Key Skills'])
        df_recommend = pd.DataFrame(list_match.items(), columns = ['skill', 'sum']) 
        df_recommend = cleanSkillKeywords(df_recommend)
        
        df_recommend = df_recommend.head(10)
        
        df_recommend = getJobsPriority(df_recommend)
        
        df_recommend.loc[df_recommend.index[:], 'job'] = job
        df_recommend.loc[df_recommend.index[:], 'category'] = category

        ### push to all skill dataframe for export
        df_all_job_skill = df_all_job_skill.append(df_recommend)

In [71]:
# df_all_job_skill.to_csv('exports/job_skill.csv', index=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_all_job_skill)

,skill,sum,priority,job,category
0,python,26.0,High,Data Engineer,Data
1,sql,18.0,High,Data Engineer,Data
2,big data,15.0,High,Data Engineer,Data
3,java,15.0,High,Data Engineer,Data
4,analytics,13.0,Normal,Data Engineer,Data
5,mysql,11.0,Normal,Data Engineer,Data
6,spark,9.0,Normal,Data Engineer,Data
7,scala,9.0,Normal,Data Engineer,Data
8,machine learning,8.0,Normal,Data Engineer,Data
9,data modeling,7.0,Normal,Data Engineer,Data
0,python,18.0,High,Data Scientist,Data
1,machine learning,16.0,High,Data Scientist,Data
2,data science,9.0,High,Data Scientist,Data
3,nlp,8.0,Normal,Data Scientist,Data
4,sql,7.0,Normal,Data Scientist,Data
5,c++,6.0,Normal,Data Scientist,Data
6,data mining,6.0,Normal,Data Scientist,Data
7,algorithms,5.0,Normal,Data Scientist,Data
8,deep learning,5.0,Normal,Data Scientist,Data
9,r,5.0,Normal,Data Scientist,Data
0,sql,6.0,High,Data Architect,Data
1,data modeling,6.0,High,Data Architect,Data
2,python,5.0,High,Data Architect,Data
3,analytics,4.0,Normal,Data Architect,Data
4,big data,4.0,Normal,Data Architect,Data
5,rdbms,4.0,Normal,Data Architect,Data
6,oracle,4.0,Normal,Data Architect,Data
7,data warehousing,4.0,Normal,Data Architect,Data
8,etl,3.0,Normal,Data Architect,Data
9,perl,3.0,Normal,Data Architect,Data
0,analytics,11.0,High,Data Analyst,Data
1,sql,7.0,High,Data Analyst,Data
2,python,6.0,High,Data Analyst,Data
3,machine learning,5.0,High,Data Analyst,Data
4,information technology,3.0,Normal,Data Analyst,Data
5,data analyst,3.0,Normal,Data Analyst,Data
6,data science,3.0,Normal,Data Analyst,Data
7,troubleshooting,2.0,Normal,Data Analyst,Data
8,tableau,2.0,Normal,Data Analyst,Data
9,stored procedures,2.0,Normal,Data Analyst,Data
0,monitoring tools,4.0,High,Database Administrator,Data
1,infrastructure,3.0,High,Database Administrator,Data
2,networking,3.0,High,Database Administrator,Data
3,basic,2.0,Normal,Database Administrator,Data
4,database administration,2.0,Normal,Database Administrator,Data
5,linux,2.0,Normal,Database Administrator,Data
6,network operations,2.0,Normal,Database Administrator,Data
7,oracle dba,2.0,Normal,Database Administrator,Data
8,performance tuning,2.0,Normal,Database Administrator,Data
9,redhat,2.0,Normal,Database Administrator,Data
0,machine learning,17.0,High,Machine Learning,Data
1,python,15.0,High,Machine Learning,Data
2,nlp,6.0,Normal,Machine Learning,Data
3,deep learning,6.0,Normal,Machine Learning,Data
4,c++,4.0,Normal,Machine Learning,Data
5,computer vision,4.0,Normal,Machine Learning,Data
6,data science,4.0,Normal,Machine Learning,Data
7,algorithms,3.0,Normal,Machine Learning,Data
8,linux,3.0,Normal,Machine Learning,Data
9,scala,3.0,Normal,Machine Learning,Data
0,javascript,145.0,High,Software Engineer,Developer
1,python,130.0,High,Software Engineer,Developer
2,sql,123.0,High,Software Engineer,Developer
3,java,117.0,High,Software Engineer,Developer
4,linux,110.0,High,Software Engineer,Developer
5,computer science,107.0,Normal,Software Engineer,Developer
6,agile,94.0,Normal,Software Engineer,Developer
7,software engineering,86.0,Normal,Software Engineer,Developer
8,asp.net,85.0,Normal,Software Engineer,Developer
9,mysql,83.0,Normal,Software Engineer,Developer
0,devops,56.0,High,Devops,Developer
1,jenkins,35.0,High,Devops,Developer
2,linux,33.0,High,Devops,Developer
3,python,31.0,High,Devops,Developer
4,aws,31.0,High,Devops,Developer
5,docker,25.0,Normal,Devops,Developer
6,git,24.0,Normal,Devops,Developer
7,ansible,23.0,Normal,Devops,Developer
8,puppet,20.0,Normal,Devops,Developer
9,cloud,17.0,Normal,Devops,Developer
0,java,25.0,High,Backend,Developer
1,backend development,22.0,High,Backend,Developer
2,python,22.0,High,Backend,Developer
3,javascript,21.0,High,Backend,Developer
4,mysql,20.0,High,Backend,Developer
5,nosql,18.0,Normal,Backend,Developer
6,mongodb,15.0,Normal,Backend,Developer
7,sql,14.0,Normal,Backend,Developer
8,node.js,13.0,Normal,Backend,Developer
9,web development,12.0,Normal,Backend,Developer
0,javascript,34.0,High,Frontend,Developer
1,frontend development,22.0,High,Frontend,Developer
2,jquery,18.0,High,Frontend,Developer
3,css,17.0,High,Frontend,Developer
4,react.js,16.0,Normal,Frontend,Developer
5,html,15.0,Normal,Frontend,Developer
6,bootstrap,12.0,Normal,Frontend,Developer
7,angularjs,11.0,Normal,Frontend,Developer
8,web development,11.0,Normal,Frontend,Developer
9,ui designing,8.0,Normal,Frontend,Developer
0,javascript,129.0,High,Full stack,Developer
1,html,69.0,High,Full stack,Developer
2,java,60.0,High,Full stack,Developer
3,angularjs,57.0,Normal,Full stack,Developer
4,css,51.0,Normal,Full stack,Developer
5,web development,48.0,Normal,Full stack,Developer
6,asp.net,47.0,Normal,Full stack,Developer
7,node.js,42.0,Normal,Full stack,Developer
8,jquery,41.0,Normal,Full stack,Developer
9,react.js,38.0,Normal,Full stack,Developer
0,ios development,142.0,High,iOS,Developer
1,swift,72.0,High,iOS,Developer
2,objective c,60.0,High,iOS,Developer
3,mobile application development,53.0,High,iOS,Developer
4,json,34.0,Normal,iOS,Developer
5,xml,34.0,Normal,iOS,Developer
6,c,30.0,Normal,iOS,Developer
7,javascript,26.0,Normal,iOS,Developer
8,xcode,25.0,Normal,iOS,Developer
9,sdk,23.0,Normal,iOS,Developer
0,android development,190.0,High,Android,Developer
1,mobile application development,70.0,High,Android,Developer
2,android sdk,65.0,High,Android,Developer
3,java,61.0,High,Android,Developer
4,json,56.0,Normal,Android,Developer
5,xml,40.0,Normal,Android,Developer
6,javascript,35.0,Normal,Android,Developer
7,ui designing,29.0,Normal,Android,Developer
8,sqlite,29.0,Normal,Android,Developer
9,html,26.0,Normal,Android,Developer
0,manual testing,7.0,High,Software Tester,Tester
1,selenium,4.0,High,Software Tester,Tester
2,test cases,4.0,High,Software Tester,Tester
3,software testing,4.0,High,Software Tester,Tester
4,automation testing,3.0,Normal,Software Tester,Tester
5,functional testing,3.0,Normal,Software Tester,Tester
6,javascript,3.0,Normal,Software Tester,Tester
7,python,3.0,Normal,Software Tester,Tester
8,qa,3.0,Normal,Software Tester,Tester
9,asp.net,2.0,Normal,Software Tester,Tester
0,selenium,10.0,High,Quality Assurance Engineer,Tester
1,automation testing,8.0,High,Quality Assurance Engineer,Tester
2,software quality assurance,8.0,High,Quality Assurance Engineer,Tester
3,computer science,5.0,Normal,Quality Assurance Engineer,Tester
4,performance testing,4.0,Normal,Quality Assurance Engineer,Tester
5,regression testing,4.0,Normal,Quality Assurance Engineer,Tester
6,manual testing,4.0,Normal,Quality Assurance Engineer,Tester
7,functional testing,4.0,Normal,Quality Assurance Engineer,Tester
8,test cases,4.0,Normal,Quality Assurance Engineer,Tester
9,coding,4.0,Normal,Quality Assurance Engineer,Tester
0,ui designing,33.0,High,UX/UI Designer,Designer
1,ux designing,32.0,High,UX/UI Designer,Designer
2,photoshop,27.0,High,UX/UI Designer,Designer
3,html,22.0,High,UX/UI Designer,Designer
4,illustrator,22.0,High,UX/UI Designer,Designer
5,javascript,17.0,Normal,UX/UI Designer,Designer
6,web development,12.0,Normal,UX/UI Designer,Designer
7,jquery,9.0,Normal,UX/UI Designer,Designer
8,css,9.0,Normal,UX/UI Designer,Designer
9,web designing,8.0,Normal,UX/UI Designer,Designer
0,graphic designing,15.0,High,Graphic Designer,Designer
1,illustrator,12.0,High,Graphic Designer,Designer
2,photoshop,12.0,High,Graphic Designer,Designer
3,web development,8.0,High,Graphic Designer,Designer
4,javascript,8.0,High,Graphic Designer,Designer
5,html,6.0,Normal,Graphic Designer,Designer
6,corel draw,5.0,Normal,Graphic Designer,Designer
7,web designing,5.0,Normal,Graphic Designer,Designer
8,indesign,5.0,Normal,Graphic Designer,Designer
9,bootstrap,2.0,Normal,Graphic Designer,Designer
0,agile,8.0,High,Product Owner,Manager
1,scrum,6.0,High,Product Owner,Manager
2,product management,4.0,High,Product Owner,Manager
3,analytics,3.0,Normal,Product Owner,Manager
4,computer science,3.0,Normal,Product Owner,Manager
5,jira,3.0,Normal,Product Owner,Manager
6,monitoring tools,3.0,Normal,Product Owner,Manager
7,action plan,2.0,Normal,Product Owner,Manager
8,billing,2.0,Normal,Product Owner,Manager
9,design development,2.0,Normal,Product Owner,Manager
0,project management,15.0,High,Project Manager,Manager
1,asp.net,12.0,High,Project Manager,Manager
2,javascript,9.0,High,Project Manager,Manager
3,sql,8.0,High,Project Manager,Manager
4,html,7.0,Normal,Project Manager,Manager
5,xml,6.0,Normal,Project Manager,Manager
6,analytics,5.0,Normal,Project Manager,Manager
7,oracle,5.0,Normal,Project Manager,Manager
8,coding,5.0,Normal,Project Manager,Manager
9,mvc,4.0,Normal,Project Manager,Manager
0,system analysis,5.0,High,System Analyst,Analyst
1,html,4.0,High,System Analyst,Analyst
2,asp.net,3.0,High,System Analyst,Analyst
3,javascript,3.0,High,System Analyst,Analyst
4,python,3.0,High,System Analyst,Analyst
5,sql,3.0,High,System Analyst,Analyst
6,analytics,2.0,Normal,System Analyst,Analyst
7,assembly language,2.0,Normal,System Analyst,Analyst
8,c,2.0,Normal,System Analyst,Analyst
9,computer science,2.0,Normal,System Analyst,Analyst
0,business analysis,8.0,High,Business Analyst,Analyst
1,analytics,6.0,High,Business Analyst,Analyst
2,asp.net,5.0,High,Business Analyst,Analyst
3,system analysis,3.0,Normal,Business Analyst,Analyst
4,android development,2.0,Normal,Business Analyst,Analyst
5,data science,2.0,Normal,Business Analyst,Analyst
6,html,2.0,Normal,Business Analyst,Analyst
7,project management,2.0,Normal,Business Analyst,Analyst
8,sql,2.0,Normal,Business Analyst,Analyst
9,uat,2.0,Normal,Business Analyst,Analyst


# Category Skill

In [72]:
df_all_category_skill = pd.DataFrame(columns = ['skill'])
df_category_skill = pd.DataFrame(columns = ['skill', 'sum'])

for category in categories:
    for job in eval(category):
    
        df_match = matchJobs(title=job, method="set", percent=90)

        list_match = extractSkill(df_match['Key Skills'])
        df_cat = pd.DataFrame(list_match.items(), columns = ['skill', 'sum']) 
        df_cat = df_cat.drop(df_cat[(df_cat['sum'] == 1)].index)
        df_cat = cleanSkillKeywords(df_cat)
        df_cat = df_cat.groupby('skill')['sum'].agg(['sum']).reset_index() 
        df_category_skill = df_category_skill.append(df_cat)

    df_category_skill = df_category_skill.groupby('skill')['sum'].agg(['sum','count']).sort_values(by=['count', 'sum'], ascending=False).reset_index()
    df_category_skill = df_category_skill.drop(df_category_skill[(df_category_skill['count'] == 1)].index)
    df_category_skill = df_category_skill.head(6)
    
    df_category_skill.loc[df_category_skill.index[:], 'category'] = category
    
    ### push to all skill dataframe for export
    df_all_category_skill = df_all_category_skill.append(df_category_skill)

In [73]:
df_all_category_skill.to_csv('exports/category_skill.csv', index=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_all_category_skill)

              skill    sum  count   category
0            python   70.0    5.0       Data
1               sql   40.0    5.0       Data
2              java   25.0    5.0       Data
3  computer science   16.0    5.0       Data
4  machine learning   46.0    4.0       Data
5         analytics   32.0    4.0       Data
0              java  311.0    8.0  Developer
1               sql  238.0    8.0  Developer
2        javascript  398.0    7.0  Developer
3            python  306.0    7.0  Developer
4  computer science  175.0    7.0  Developer
5             mysql  175.0    7.0  Developer
0              java  316.0    3.0     Tester
1            python  312.0    3.0     Tester
2        javascript  401.0    2.0     Tester
3               sql  240.0    2.0     Tester
4  computer science  180.0    2.0     Tester
5          selenium   14.0    2.0     Tester
0        javascript  426.0    3.0   Designer
1               sql  246.0    3.0   Designer
2            python  317.0    2.0   Designer
3         photoshop   39.0    2.0   Designer
4       illustrator   34.0    2.0   Designer
5              html   28.0    2.0   Designer
0        javascript  435.0    2.0    Manager
1               sql  254.0    2.0    Manager
2              html   35.0    2.0    Manager
3             agile   12.0    2.0    Manager
4         analytics    8.0    2.0    Manager
5  monitoring tools    5.0    2.0    Manager
0               sql  259.0    3.0    Analyst
1              html   41.0    3.0    Analyst
2         analytics   16.0    3.0    Analyst
3        javascript  438.0    2.0    Analyst
4           asp.net    8.0    2.0    Analyst
5   system analysis    8.0    2.0    Analyst